code {
    font-family: "Fira Mono", monospace;

    border-style: dotted;
    border-width: 1px;
    border-color: #e65100;
}

code:not(pre code) {
    background-color: inherit;

    padding: 0;

    border-radius: 5px;
}

.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: #bf9a56;
}

.hljs-repl {
    color: #9558b2;
}

pre code.hljs {
    white-space: pre;

    background: rgba(124, 125, 126, 0.075);

    font-size: 0.85em;
}
