/* Inspired by https://codepen.io/jh3y/pen/QxYMJa */

:root {
    --duration: 0.25s;
    --delay-step: 0.05s;
    --base-delay: calc(1.5 * var(--duration));
    --border-delay: calc(var(--base-delay) + (10 * var(--delay-step)) + var(--duration));
}

#menu-toggle {
    opacity: 0;
    display: none;
}

nav ol {
    list-style-type: none;
}

/* Menu buttons */
label.menu-button {
    grid-column: menu / menu;
    grid-row: page-header / page-header;

    margin: auto;

    display: flex;
    flex-direction: column;

    z-index: 10;
}

label.menu-button svg {
    transition: opacity 1s;
}

label.menu-button svg.burger {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

#menu-toggle:checked ~ label.menu-button svg.burger {
    height: 0;
    opacity: 0;
}

label.menu-button svg.cross {
    height: 0;
    opacity: 0;
}

#menu-toggle:checked ~ label.menu-button svg.cross {
    width: 100%;
    height: 100%;
    opacity: 1
}

/* Menu transition */
nav .menu-item {
    opacity: 0;
    transform: translateX(-100%);
}

nav .submenu .submenu-item {
    transform: translateX(-150%);
}

nav {
    position: absolute;
    right: 100%;
    top: 0;
}

#menu-toggle:checked ~ nav {
    position: fixed;
    right: 75%;
    top: 25%;

    margin: 0;
    padding: 0;

    z-index: 10;
}

#menu-toggle:checked ~ nav {
    transform: translate(100%, 0);
}

#menu-toggle:checked ~ nav .menu-item,
#menu-toggle:checked ~ nav .submenu-item {
    transform: translateX(0);
    transition: transform var(--duration)
                cubic-bezier(0.175, 0.885, 0.32, 1.275),
                border var(--duration),
                opacity var(--duration);
    opacity: 1;
}

/* Ugly code for sequential translation of menu items. */
#menu-toggle:checked ~ nav .menu-item:nth-of-type(1) {
    transition-delay: var(--base-delay), var(--border-delay);

    border-left: 10px groove #9b59b6;
}

#menu-toggle:checked ~ nav .menu-item:nth-of-type(2) {
    transition-delay: calc(var(--base-delay) + var(--delay-step)), var(--border-delay);

    border-left: 10px ridge #86e2d5;
}

#menu-toggle:checked ~ nav .menu-item:nth-of-type(3) {
    transition-delay: calc(var(--base-delay) + 2 * var(--delay-step)), var(--border-delay);

    border-left: 10px groove #f5ab35;
}

/* #menu-toggle:checked ~ nav .submenu.libraries .submenu-item:nth-of-type(1) { */
/*     transition-delay: calc(var(--base-delay) + 3 * var(--delay-step)), var(--border-delay); */
/* } */

/* #menu-toggle:checked ~ nav .submenu.libraries .submenu-item:nth-of-type(2) { */
/*     transition-delay: calc(var(--base-delay) + 4 * var(--delay-step)), var(--border-delay); */
/* } */

/* Grayout effect */
#grayout {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
                      linear-gradient(120deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
                      linear-gradient(180deg, rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.5));

    transition: transform var(--duration)
                cubic-bezier(0.175, 0.885, 0.32, 1.275),
                opacity var(--duration),
                z-index var(--duration);
    opacity: 0;
    z-index: -1;
}

#menu-toggle:checked ~ #grayout {
    transition: transform var(--duration)
                cubic-bezier(0.175, 0.885, 0.32, 1.275),
                opacity var(--duration),
                z-index var(--duration);
    opacity: 1;
    z-index: 9;
}

/* Menu items. */

.menu-item {
    color: white;
    font-size: 200%;

    padding-left: 0.5em;
}
