/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    box-sizing: border-box;
}

html {
    color: #101010;

    font-family: "Fira Sans", sans-serif;
}

/* Randomly generated background! */
#randbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;

    z-index: -1;

    background: #d8dee9;

    display: grid;
    grid-auto-flow: row;
}

.randbg-element {
    font-size: 75px;
    background: linear-gradient(
      var(--deg),
      transparent 50%, var(--colorbg) 50%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: var(--colortx);
    -webkit-text-stroke-width: 2px;
    color: transparent;
}

/* Content */
#panel {
    display: grid;
    grid-template-rows: [page-header] minmax(auto, 2fr) [content] auto;
    grid-template-columns: [menu] 44px [text] auto 44px;
    grid-column-gap: 1em;

    background: rgba(255, 255, 255, 0.95);

    width: 940px;
    min-width: 0;
    min-height: 0;

    margin: 5ex auto;
    padding: 1em;

    border-radius: 25px;

    box-shadow: 0px 0px 10px black;
}

h1.page.title {
    overflow-x: hidden;

    grid-column: text / text;
    grid-row: page-header / page-header;

    margin: auto;
    margin-left: 0;
    margin-right: auto;
    padding: 0;

    font-size: 1.8em
}

h1.page.title, a.header-anchor {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
}

.franklin-content {
    grid-column: text / text;
    grid-row: content / content;

    margin: 0 auto;
    margin-left: 0;
    margin-right: auto;
    padding: 0;

    line-height: 1.4em;

    width: auto;
    max-width: 100%;
    min-width: 0;
}

h2 {
    font-style: italic;
}

.top {
    font-style: normal;
}

.franklin-content > p:first-of-type {
    margin-top: 0;
    margin-left: 1em;
    text-indent: 1em;
}

.page-foot {
    margin-top: 2em;
}

ul li::marker {
    content: "#'  ";
    color: #8fbcbb;
}

ul li.checked::marker {
    content: "\1f5f9  ";
}

ul li.unchecked::marker {
    content: "\2610  ";
}

ul li p:after, ol li p:after {
    content: ";";
    color: #ebcb8b;
}

ul li:last-child p:after,
ol li:last-child p:after {
    content: ".";
}

.franklin-content a, a {
    cursor: pointer;
    color: #009acd;
}

.franklin-content a:hover, a:hover {
    transition: 150ms ease;

    filter: brightness(120%);

    text-decoration: underline;
    text-decoration-color: #e65100;
}

.top {
    float: right;
}

em {
    color: #000000;
    font-weight: 500;
    font-style: inherit;
}

.construction {
    margin-top: 1em;

    color: #9558b2;
    text-align: center;
}

.construction:before, .construction:after {
    content: "\01F477\1f3fd";
    font-size: 1.5em;
}

.construction:before {
        padding-right: 0.5em;
}

.construction:after {
        padding-left: 0.5em;
}

/* Blog stuff */

.posts-list ul li {
    line-height: 2.5ex;
}

.posts-list ul li p:after {
    content: "";
}

.date, .tag, .abstract {
    font-size: 75%;
}

.date {
    padding-left: 1em;

    color: #88c0d0;
}

.tag {
    margin-left: 1em;
    color: inherit;
    border: thin dashed #8fbcbb;
    border-radius: 5px;
    padding: 1px 5px;
}

.abstract {
    margin-left: 2em;

    font-style: italic;
    font-size: 85%;
}

/* Small screens */

@media only screen and (max-width: 939px) {
    #panel {
        grid-template-columns: [menu] 40px [text] auto 430x;
        grid-column-gap: 0.5em;

        padding: 1em 0;

        width: auto;
    }
}

/* Linksbox */
.linksbox-container {
    overflow-x: auto;
}

table.linksbox {
    margin: 0;

    border-collapse: collapse;qq

    border-style: none;
    border-left: solid;
    border-width: 1ex;
    border-color: #9b59b6;
    border-radius: 10px;

    background-color: rgba(155, 89, 182, 0.25);
}

table.linksbox td {
    font-size: var(--normal);
    padding: 5px;
}

table.linksbox td .linksbox-separator::after {
    content: "\2297";
    padding: 0;
}
