<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ fill meta  }}">

  <!-- Mastodon verification -->
  <span style="display: none;">
    <a rel="me" href="https://mas.to/@sourdough42">Mastodon</a>
  </span>

  {{if hasmath}} {{insert head_katex.html }}   {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}

  {{insert style.html}}

  <title>{{website_title}}</title>
</head>
<body>
  <a name="top-page"></a>
  {{insert nav.html}}


  <!-- Content appended here -->
